.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.jumbotron{
  background-color: var(--main-bg-color);
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url("assets/circuit_board.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.icon{
  color: white;
  margin: 10px 30px;
}

.lead{
  font-size: 3em;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.title{
  font-size: 4.5em;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.head-container{
  padding: 0;
}

#projects-header{
  text-align: center;
  font-size: 3em;
  margin: 40px;
}

.card-holder{
  text-align: center;
  display: static;
}

.project-card{
  margin: 10% 10%;
  flex-direction: row;
  align-items: center;
}

.card-image{
  width: 250px; 
  height: 250px;
}
@media screen and (max-width: 600px){
  .project-card{
    margin: 20px auto;
    text-align: center;
    flex-direction: column;
    width: 250px;
  }
  .card-text{
    display: none;
  }
}

.button-holder{
  text-align: center;
  margin-top: 20px;
}
.card-button{
  margin: 6px;
}



.inlineblock{
  display: inline-block;
}
.skill{
  display: inline-block;
  border: solid black 5px;
  border-radius: 10%;
  padding: 5px;
  margin: 10px;
}
.align-vertical{
  position: relative;
}